@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>Iniciar sesión</h1>

@if (ViewData.Keys.Contains("mensaje"))
{
    <p style="color: red;">
        @ViewData["mensaje"]
    </p>
}

<div class="card">
    <div class="card-body">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" type="email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-check mb-3">
                <input asp-for="Recuerdame" type="checkbox" class="form-check-input">
                <label asp-for="Recuerdame" class="form-check-label"></label>
            </div>
            <button class="btn btn-primary">Login</button>

            <a class="btn btn-secondary" asp-action="Registro">Crear cuenta nueva</a>

            <a class="btn btn-success" asp-action="LoginExterno" asp-route-proveedor="Google">Continuar con Google</a>

            <div class="mb-3 text-center">
                <a class="btn" asp-action="OlvideMiPassword">¿Olvidaste tu contraseña?</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}